$naranjin: #c38659;
$naranjin75: rgba(196, 134, 90, 0.75);
$marron: #4e3429;
$marron75: rgba(78, 52, 41, 0.75);
$azul: #647498;
$violeta: #6c6c94;
$musgo: #948c8b;
$musgo75: rgba(148, 140, 139, 0.75);
