@import "./Variables/Variables.scss";

@media only screen and (min-width: 1024px) {
  .filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1vw 0;
  }

  .filtersfilter {
    justify-content: center;
    text-align: center;
    font-size: 1vw;
    margin-right: 0.5vw;
    border-radius: 20px;
    background-color: $naranjin;
    border: 2px solid $marron;
    height: 2vw;
    width: 12vw;
    font-weight: bold;
    font-family: MedievalSharp;
    color: $marron;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filtersfilter:focus {
    outline: none;
  }

  .filterslabel {
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    display: flex;
    font-size: 1vw;
    margin-right: 0.5vw;
    border-radius: 20px;
    background-color: $naranjin;
    border: 2px solid $marron;
    height: 2vw;
    font-weight: bold;
    width: 5vw;
    text-decoration: none;
    color: $marron;
  }

  .filtersinput {
    justify-content: center;
    text-align: center;
    font-size: 1vw;
    margin-right: 0.5vw;
    border-radius: 20px;
    background-color: $naranjin;
    border: 2px solid $marron;
    height: 1.9vw;
    width: 5vw;
    font-weight: bold;
    font-family: MedievalSharp;
    color: $marron;
  }

  .filtersinput::placeholder {
    color: $marron75;
    font-size: 1vw;
    font-weight: bold;
    font-family: MedievalSharp;
  }

  .filtersinput:focus {
    outline: none;
  }

  .filtersbutton {
    border-radius: 20px;
    font-size: 1.1vw;
    justify-content: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    width: 12vw;
    height: 2vw;
    background-color: $azul;
    color: $marron;
    border: 2px solid $marron;
    font-weight: bold;
    margin: 0.5vw 0 0 0;
    font-family: MedievalSharp;
  }

  .filtersbutton:hover {
    background-color: $naranjin;
    cursor: pointer;
  }

  .filtersbutton:focus {
    outline: none;
  }

  .filtersselect {
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    display: flex;
    font-size: 1vw;
    margin-right: 0.5vw;
    border-radius: 20px;
    background-color: $azul;
    border: 2px solid $marron;
    height: 2vw;
    font-weight: bold;
    width: 12vw;
    text-decoration: none;
    color: $marron;
    font-family: MedievalSharp;
  }

  .filtersselect:hover {
    background-color: $naranjin;
    cursor: pointer;
  }

  .filtersselect:focus {
    outline: none;
  }

  .filtersselect::-webkit-scrollbar {
    width: 1rem; /* width of the entire scrollbar */
    border-radius: 20px;
  }

  .filtersselect::-webkit-scrollbar-track {
    background: $azul;
    border-radius: 20px; /* color of the tracking area */
  }

  .filtersselect::-webkit-scrollbar-thumb {
    background-color: $naranjin; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid $marron; /* creates padding around scroll thumb */
  }

  .filtersoption {
    font-weight: bold;
  }

  .filterseachfilter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-content: space-around;
  }

  .filtersinputorganizer {
    flex-direction: row;
    display: flex;
  }

  .filtersreset {
    border-radius: 20px;
    font-size: 1.3vw;
    justify-content: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    width: 12vw;
    height: 2.3vw;
    background-color: $azul;
    color: $marron;
    border: 2px solid $marron;
    font-weight: bolder;
    margin: 0;
    font-family: MedievalSharp;
  }

  .filtersreset:hover {
    background-color: $naranjin;
    cursor: pointer;
  }

  .filtersreset:focus {
    outline: none;
  }

  .filtersordena {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1vw 0;
    height: 36vh;
  }

  .filtersfilter {
    justify-content: center;
    text-align: center;
    font-size: 5vw;
    border-radius: 20px;
    background-color: $naranjin;
    border: 2px solid $marron;
    height: 15vw;
    width: 30vw;
    font-weight: bold;
    font-family: MedievalSharp;
    color: $marron;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filtersfilter:focus {
    outline: none;
  }

  .filterslabel {
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    display: flex;
    font-size: 4.5vw;
    border-radius: 20px;
    background-color: $naranjin;
    border: 2px solid $marron;
    height: 9vw;
    font-weight: bold;
    width: 15vw;
    text-decoration: none;
    color: $marron;
    margin-right: 1vw;
  }

  .filtersinput {
    justify-content: center;
    text-align: center;
    font-size: 4.5vw;
    border-radius: 20px;
    background-color: $naranjin;
    border: 2px solid $marron;
    height: 9vw;
    width: 12vw;
    font-weight: bold;
    font-family: MedievalSharp;
    color: $marron;
  }

  .filtersinput:focus {
    outline: none;
  }

  .filtersbutton {
    border-radius: 20px;
    font-size: 4.5vw;
    justify-content: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    width: 30vw;
    height: 15vw;
    background-color: $azul;
    color: $marron;
    border: 2px solid $marron;
    font-weight: bold;
    margin: 0.5vw 0 0 0;
    font-family: MedievalSharp;
  }

  .filtersbutton:hover {
    background-color: $naranjin;
    cursor: pointer;
  }

  .filtersbutton:focus {
    outline: none;
  }

  .filtersselect {
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    display: flex;
    font-size: 4.5vw;
    border-radius: 20px;
    background-color: $azul;
    border: 2px solid $marron;
    height: 10vw;
    font-weight: bold;
    width: 30vw;
    text-decoration: none;
    color: $marron;
    font-family: MedievalSharp;
  }

  .filtersselect:hover {
    background-color: $naranjin;
    cursor: pointer;
  }

  .filtersselect:focus {
    outline: none;
  }

  .filtersselect::-webkit-scrollbar {
    width: 1rem; /* width of the entire scrollbar */
    border-radius: 20px;
  }

  .filtersselect::-webkit-scrollbar-track {
    background: $azul;
    border-radius: 20px; /* color of the tracking area */
  }

  .filtersselect::-webkit-scrollbar-thumb {
    background-color: $naranjin; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid $marron; /* creates padding around scroll thumb */
  }

  .filtersoption {
    font-weight: bold;
    font-size: 3vw;
  }

  .filterseachfilter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    height: 18vh;
  }

  .filtersinputorganizer {
    flex-direction: row;
    display: flex;
  }

  .filtersreset {
    border-radius: 20px;
    font-size: 6vw;
    justify-content: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    width: 30vw;
    height: 18vw;
    background-color: $azul;
    color: $marron;
    border: 2px solid $marron;
    font-weight: bolder;
    margin: 0;
    font-family: MedievalSharp;
  }

  .filtersreset:hover {
    background-color: $naranjin;
    cursor: pointer;
  }

  .filtersreset:focus {
    outline: none;
  }

  .filtersordena {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1vw 0;
    height: 42vh;
  }

  .filtersfilter {
    justify-content: center;
    text-align: center;
    font-size: 3.5vw;
    border-radius: 20px;
    background-color: $naranjin;
    border: 2px solid $marron;
    height: 12vw;
    width: 30vw;
    font-weight: bold;
    font-family: MedievalSharp;
    color: $marron;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filtersfilter:focus {
    outline: none;
  }

  .filterslabel {
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    display: flex;
    font-size: 3.5vw;
    border-radius: 20px;
    background-color: $naranjin;
    border: 2px solid $marron;
    height: 6vw;
    font-weight: bold;
    width: 15vw;
    text-decoration: none;
    color: $marron;
    margin-right: 1vw;
  }

  .filtersinput {
    justify-content: center;
    text-align: center;
    font-size: 3.5vw;
    border-radius: 20px;
    background-color: $naranjin;
    border: 2px solid $marron;
    height: 6vw;
    width: 12vw;
    font-weight: bold;
    font-family: MedievalSharp;
    color: $marron;
  }

  .filtersinput:focus {
    outline: none;
  }

  .filtersbutton {
    border-radius: 20px;
    font-size: 3.5vw;
    justify-content: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    width: 30vw;
    height: 10vw;
    background-color: $azul;
    color: $marron;
    border: 2px solid $marron;
    font-weight: bold;
    margin: 0.5vw 0 0 0;
    font-family: MedievalSharp;
  }

  .filtersbutton:hover {
    background-color: $naranjin;
    cursor: pointer;
  }

  .filtersbutton:focus {
    outline: none;
  }

  .filtersselect {
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    display: flex;
    font-size: 3.5vw;
    border-radius: 20px;
    background-color: $azul;
    border: 2px solid $marron;
    height: 8vw;
    font-weight: bold;
    width: 30vw;
    text-decoration: none;
    color: $marron;
    font-family: MedievalSharp;
  }

  .filtersselect:hover {
    background-color: $naranjin;
    cursor: pointer;
  }

  .filtersselect:focus {
    outline: none;
  }

  .filtersselect::-webkit-scrollbar {
    width: 1rem; /* width of the entire scrollbar */
    border-radius: 20px;
  }

  .filtersselect::-webkit-scrollbar-track {
    background: $azul;
    border-radius: 20px; /* color of the tracking area */
  }

  .filtersselect::-webkit-scrollbar-thumb {
    background-color: $naranjin; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid $marron; /* creates padding around scroll thumb */
  }

  .filtersoption {
    font-weight: bold;
    font-size: 2vw;
  }

  .filterseachfilter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    height: 23vh;
  }

  .filtersinputorganizer {
    flex-direction: row;
    display: flex;
  }

  .filtersreset {
    border-radius: 20px;
    font-size: 5vw;
    justify-content: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    width: 30vw;
    height: 15vw;
    background-color: $azul;
    color: $marron;
    border: 2px solid $marron;
    font-weight: bolder;
    margin: 0 2vw;
    font-family: MedievalSharp;
  }

  .filtersreset:hover {
    background-color: $naranjin;
    cursor: pointer;
  }

  .filtersreset:focus {
    outline: none;
  }

  .filtersordena {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
